In [1]:

# Import necessary libraries
import pandas as pd # type: ignore
from sklearn.model_selection import train_test_split # type: ignore
from sklearn.linear_model import LinearRegression # type: ignore

In [2]:
# Loading dataset
data = pd.read_csv('dataset.csv')

In [3]:
#Here we will Perform some EDA
#looking for Rows and columns 

print("Here are ", data.shape, "instances and columns in the dataset")

Here are  (3000, 12) instances and columns in the dataset

In [4]:
#Just to have glance on the dataset
data.head()

,Product_Category,Price,Promotion,Advertising_Spend,Holiday,Region,Store_ID,Customer_ID,Temperature,Weather_Condition,Inventory_Level,Sales
0,Clothing,44,No,460,NaN,South,S056,C02060,5,Sunny,29,216
1,Electronics,56,Yes,4088,NaN,North,S019,C03715,9,Rainy,87,731
2,Health & Beauty,96,Yes,3505,NaN,East,S024,C02458,21,Sunny,898,664
3,Clothing,23,Yes,1258,NaN,South,S020,C00860,-13,Rainy,305,851
4,Home & Garden,34,Yes,204,New Year's Day,North,S067,C04934,26,Sunny,744,179



<h3>As we know that the dataset that we are working with contains categorical values so we will perform one hot coding. 
So we need to know that which columns contain the categorical values</h3>

In [5]:
#this will print the dataset column names
col_names = data.columns

col_names

Index(['Product_Category', 'Price', 'Promotion', 'Advertising_Spend',
       'Holiday', 'Region', 'Store_ID', 'Customer_ID', 'Temperature',
       'Weather_Condition', 'Inventory_Level', 'Sales'],
      dtype='object')

In [6]:
# view summary of dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Product_Category   3000 non-null   object
 1   Price              3000 non-null   int64
 2   Promotion          3000 non-null   object
 3   Advertising_Spend  3000 non-null   int64
 4   Holiday            325 non-null    object
 5   Region             3000 non-null   object
 6   Store_ID           3000 non-null   object
 7   Customer_ID        3000 non-null   object
 8   Temperature        3000 non-null   int64
 9   Weather_Condition  3000 non-null   object
 10  Inventory_Level    3000 non-null   int64
 11  Sales              3000 non-null   int64
dtypes: int64(5), object(7)
memory usage: 281.4+ KB

In [7]:
nul_val = data.isnull().sum()

nul_val

Product_Category        0
Price                   0
Promotion               0
Advertising_Spend       0
Holiday              2675
Region                  0
Store_ID                0
Customer_ID             0
Temperature             0
Weather_Condition       0
Inventory_Level         0
Sales                   0
dtype: int64

<h3>It looks like there is no any null values and our data set is completely clean.</h3>

<h3>Now we will separate the Columns according to there variable types.</h3>

In [8]:

# to check which columns are categorical 
categorical = [var for var in data.columns if data[var].dtype=='O']

print('There are {} categorical variables\n'.format(len(categorical)))

print('The categorical variables are :', categorical)

There are 7 categorical variables

The categorical variables are : ['Product_Category', 'Promotion', 'Holiday', 'Region', 'Store_ID', 'Customer_ID', 'Weather_Condition']

In [9]:
# view the categorical variables

data[categorical].head()

,Product_Category,Promotion,Holiday,Region,Store_ID,Customer_ID,Weather_Condition
0,Clothing,No,NaN,South,S056,C02060,Sunny
1,Electronics,Yes,NaN,North,S019,C03715,Rainy
2,Health & Beauty,Yes,NaN,East,S024,C02458,Sunny
3,Clothing,Yes,NaN,South,S020,C00860,Rainy
4,Home & Garden,Yes,New Year's Day,North,S067,C04934,Sunny

In [10]:
# view frequency of categorical variables

for var in categorical: 
    
    print(data[var].value_counts())

Product_Category
Clothing            608
Food & Beverages    606
Home & Garden       602
Health & Beauty     599
Electronics         585
Name: count, dtype: int64
Promotion
Yes    1517
No     1483
Name: count, dtype: int64
Holiday
Thanksgiving Day    62
Independence Day    60
Labor Day           55
Memorial Day        53
New Year's Day      49
Christmas Day       46
Name: count, dtype: int64
Region
North    800
East     745
South    740
West     715
Name: count, dtype: int64
Store_ID
S056    46
S082    41
S078    41
S026    41
S071    40
        ..
S092    21
S072    19
S058    18
S033    17
S076    16
Name: count, Length: 100, dtype: int64
Customer_ID
C07025    4
C06741    4
C00085    3
C01244    3
C02943    3
         ..
C06134    1
C09699    1
C02100    1
C04047    1
C09832    1
Name: count, Length: 2617, dtype: int64
Weather_Condition
Rainy     756
Cloudy    755
Snowy     752
Sunny     737
Name: count, dtype: int64

<h3>We will check the number of labels in each column</h3>

In [11]:
# check for number of labels in categorical variables

for var in categorical:
    
    print(var, ' contains ', len(data[var].unique()), ' labels')

Product_Category  contains  5  labels
Promotion  contains  2  labels
Holiday  contains  7  labels
Region  contains  4  labels
Store_ID  contains  100  labels
Customer_ID  contains  2617  labels
Weather_Condition  contains  4  labels

<h3>Now we will perform feature engineering fro the Date</h3>

In [12]:
data.head()

,Product_Category,Price,Promotion,Advertising_Spend,Holiday,Region,Store_ID,Customer_ID,Temperature,Weather_Condition,Inventory_Level,Sales
0,Clothing,44,No,460,NaN,South,S056,C02060,5,Sunny,29,216
1,Electronics,56,Yes,4088,NaN,North,S019,C03715,9,Rainy,87,731
2,Health & Beauty,96,Yes,3505,NaN,East,S024,C02458,21,Sunny,898,664
3,Clothing,23,Yes,1258,NaN,South,S020,C00860,-13,Rainy,305,851
4,Home & Garden,34,Yes,204,New Year's Day,North,S067,C04934,26,Sunny,744,179

In [13]:
# find categorical variables

categorical = [var for var in data.columns if data[var].dtype=='O']

print('There are {} categorical variables\n'.format(len(categorical)))

print('The categorical variables are :', categorical)

There are 7 categorical variables

The categorical variables are : ['Product_Category', 'Promotion', 'Holiday', 'Region', 'Store_ID', 'Customer_ID', 'Weather_Condition']

<h3>Product_Category</h3>

In [14]:
print('Product_Category contains', len(data.Product_Category.unique()), 'labels\n')

data.Product_Category.value_counts()

Product_Category contains 5 labels

Product_Category
Clothing            608
Food & Beverages    606
Home & Garden       602
Health & Beauty     599
Electronics         585
Name: count, dtype: int64

In [15]:
pd.get_dummies(data.Product_Category, drop_first=False).head()

   Clothing  Electronics  Food & Beverages  Health & Beauty  Home & Garden
0      True        False             False            False          False
1     False         True             False            False          False
2     False        False             False             True          False
3      True        False             False            False          False
4     False        False             False            False           True


<h3>Promotion</h3>

In [16]:
print('Promotion contains', len(data.Promotion.unique()), 'labels\n')

data.Promotion.value_counts()

Promotion contains 2 labels

Promotion
Yes    1517
No     1483
Name: count, dtype: int64

In [17]:
pd.get_dummies(data.Promotion, drop_first=False).head()

      No    Yes
0   True  False
1  False   True
2  False   True
3  False   True
4  False   True

<h3>Holiday</h3>

In [18]:
print('Holiday contains', len(data.Holiday.unique()), 'labels\n')

data.Holiday.value_counts()

Holiday contains 7 labels

Holiday
Thanksgiving Day    62
Independence Day    60
Labor Day           55
Memorial Day        53
New Year's Day      49
Christmas Day       46
Name: count, dtype: int64

In [19]:
pd.get_dummies(data.Holiday, drop_first=False).head()

,Christmas Day,Independence Day,Labor Day,Memorial Day,New Year's Day,Thanksgiving Day
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,True,False

<h3>Region</h3>

In [20]:
print('Region contains', len(data.Region.unique()), 'labels\n')

data.Region.value_counts()

Region contains 4 labels

Region
North    800
East     745
South    740
West     715
Name: count, dtype: int64

In [21]:
pd.get_dummies(data.Region, drop_first=False).head()

    East  North  South   West
0  False  False   True  False
1  False   True  False  False
2   True  False  False  False
3  False  False   True  False
4  False   True  False  False

<h3>Store_ID</h3>

In [22]:
print('Store_ID contains', len(data.Store_ID.unique()), 'labels\n')

data.Store_ID.value_counts()

Store_ID contains 100 labels

Store_ID
S056    46
S082    41
S078    41
S026    41
S071    40
        ..
S092    21
S072    19
S058    18
S033    17
S076    16
Name: count, Length: 100, dtype: int64

In [23]:
pd.get_dummies(data.Store_ID, drop_first=False).head()

,S001,S002,S003,S004,S005,S006,S007,S008,S009,S010,...,S091,S092,S093,S094,S095,S096,S097,S098,S099,S100
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

<h3>Customer_ID</h3>

In [24]:
print('Customer_ID contains', len(data.Customer_ID.unique()), 'labels\n')

data.Customer_ID.value_counts()

Customer_ID contains 2617 labels

Customer_ID
C07025    4
C06741    4
C00085    3
C01244    3
C02943    3
         ..
C06134    1
C09699    1
C02100    1
C04047    1
C09832    1
Name: count, Length: 2617, dtype: int64

In [25]:
pd.get_dummies(data.Customer_ID, drop_first=False).head()

,C00006,C00009,C00012,C00024,C00028,C00030,C00037,C00046,C00047,C00058,...,C09941,C09942,C09944,C09945,C09949,C09950,C09960,C09972,C09976,C09983
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

<h3>Weather_Condition</h3>

In [26]:
print('Weather_Condition contains', len(data.Weather_Condition.unique()), 'labels\n')

data.Weather_Condition.value_counts()

Weather_Condition contains 4 labels

Weather_Condition
Rainy     756
Cloudy    755
Snowy     752
Sunny     737
Name: count, dtype: int64

In [27]:
pd.get_dummies(data.Weather_Condition, drop_first=False).head()

   Cloudy  Rainy  Snowy  Sunny
0   False  False  False   True
1   False   True  False  False
2   False  False  False   True
3   False   True  False  False
4   False  False  False   True

In [28]:
for col in categorical:
    dummy = pd.get_dummies(data[col], prefix=col, drop_first=True)
    data = pd.concat([data, dummy], axis=1)
    data.drop(col, axis=1, inplace=True)

# Verify data types
print(data.dtypes)

Price                      int64
Advertising_Spend          int64
Temperature                int64
Inventory_Level            int64
Sales                      int64
                           ...
Customer_ID_C09976          bool
Customer_ID_C09983          bool
Weather_Condition_Rainy     bool
Weather_Condition_Snowy     bool
Weather_Condition_Sunny     bool
Length: 2736, dtype: object

<h2>Now Defining Variable <b>X</b> and <b>Y</b></h2>

In [29]:
print(data.columns)

Index(['Price', 'Advertising_Spend', 'Temperature', 'Inventory_Level', 'Sales',
       'Product_Category_Electronics', 'Product_Category_Food & Beverages',
       'Product_Category_Health & Beauty', 'Product_Category_Home & Garden',
       'Promotion_Yes',
       ...
       'Customer_ID_C09945', 'Customer_ID_C09949', 'Customer_ID_C09950',
       'Customer_ID_C09960', 'Customer_ID_C09972', 'Customer_ID_C09976',
       'Customer_ID_C09983', 'Weather_Condition_Rainy',
       'Weather_Condition_Snowy', 'Weather_Condition_Sunny'],
      dtype='object', length=2736)

In [31]:
# Assuming 'data' is your DataFrame
selected_columns = [ 'Price', 'Advertising_Spend', 'Temperature']

# Keep only the selected columns
X = data[selected_columns]

# X = data.drop(['Sales',], axis=1)
Y = data['Sales']

In [32]:
X.shape

(3000, 3)

In [33]:
# split X and y into training and testing sets

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 0)

In [34]:
print(X_train)

      Price  Advertising_Spend  Temperature
2370     96               9297          -17
1774      6               9867           29
731      27               7257           38
271      35               5240           -6
1077     98               5429           30
...     ...                ...          ...
763      44                 37           25
835      94               1122            4
1653     72               1694           34
2607     75               6005           35
2732     99               9052           25

[2400 rows x 3 columns]

In [35]:
# train a logistic regression model on the training set
# instantiate the model
model = LinearRegression()


# fit the model
model.fit(X_train, Y_train)

LinearRegression()

In [36]:
Y_pred = model.predict(X_test)

Y_pred

array([481.4359128 , 498.87235105, 497.22180208, 498.68667318,
       474.87802162, 524.7341623 , 499.43515774, 513.49866532,
       498.75134622, 494.99267943, 490.9579101 , 489.87631847,
       499.076183  , 497.21887737, 485.37796811, 496.60705495,
       488.45113937, 492.4854455 , 481.34696909, 482.56844688,
       503.41624668, 487.76799472, 502.39454259, 482.3722971 ,
       487.23714386, 511.21173658, 520.43490346, 496.82619794,
       513.56161796, 504.58088791, 515.05525592, 508.32185619,
       510.11489757, 491.35961302, 505.34708881, 484.97609005,
       499.99579892, 480.53300978, 509.158265  , 490.58842553,
       501.54323146, 493.11438422, 493.28530466, 492.63925202,
       504.6649172 , 509.7465095 , 493.15555822, 480.77162329,
       502.45554829, 499.05472296, 497.77641039, 480.91201191,
       505.70251281, 499.27413041, 508.90855608, 490.03827249,
       503.33500914, 501.43628055, 493.49367722, 498.64743674,
       495.59918394, 509.61066701, 490.9814386 , 484.15337365,
       520.82201583, 496.85003102, 494.41901784, 498.54356923,
       498.38918117, 504.53590316, 492.60606036, 502.88455195,
       505.08255826, 513.39928435, 484.17696707, 489.58789619,
       497.351659  , 489.73573689, 494.09612907, 512.79953551,
       491.99924601, 491.16925199, 491.1464586 , 502.75592283,
       501.56229924, 495.65176784, 499.26960303, 482.06127312,
       512.11102633, 505.60725474, 493.77166571, 496.28352253,
       499.68063328, 513.46771107, 520.51542032, 497.41759229,
       503.67153178, 504.64153124, 504.8051549 , 503.95838738,
       511.08322578, 493.14865535, 488.18421031, 493.27389909,
       511.38344269, 478.90137427, 497.08184694, 495.56170808,
       516.94505208, 497.52825166, 491.02034566, 509.81443596,
       509.88331631, 512.64855432, 509.07357356, 505.7180196 ,
       494.42455617, 487.26461847, 506.00153664, 485.5962206 ,
       508.88663111, 497.76435478, 490.20228434, 492.40119451,
       488.89487919, 512.43349932, 516.08027516, 493.44286812,
       503.06479028, 496.42788592, 496.05811754, 507.30222289,
       487.97845696, 487.90879653, 506.19497982, 492.74864867,
       496.97520703, 517.48160636, 496.08670394, 491.11191663,
       502.22849613, 495.60517956, 500.03045769, 509.66852371,
       502.34916181, 488.48721916, 517.07868096, 508.52364308,
       501.69407118, 487.98370143, 508.36400796, 483.65531403,
       503.87372594, 495.1517251 , 504.50986526, 493.36590646,
       512.9157217 , 508.52363477, 493.77484656, 481.38951768,
       480.79207563, 513.47550191, 494.31492518, 516.37438603,
       500.7398171 , 514.753238  , 505.7237167 , 502.40775196,
       498.7817798 , 477.97269509, 485.79698163, 512.78803475,
       497.48881076, 502.07536819, 487.7878761 , 484.69683147,
       491.4704432 , 498.71315646, 479.69265639, 505.25070445,
       519.47735253, 495.82729933, 502.74758597, 520.45098287,
       498.38382456, 513.98383216, 514.03682719, 507.83710726,
       508.40021991, 513.7821936 , 478.50352719, 503.59538958,
       514.00028798, 505.73239252, 488.68666454, 509.20926772,
       498.58070661, 486.31630407, 493.93206807, 502.90820584,
       488.9527327 , 501.79473841, 496.13297142, 498.33319998,
       506.6742147 , 497.44249944, 479.58059204, 502.23422635,
       483.51394599, 482.09815235, 497.94908256, 482.85441731,
       495.51599114, 502.45341191, 513.33502862, 499.6472295 ,
       501.08308099, 506.14963097, 484.19741942, 492.37652115,
       493.35418208, 483.38967702, 508.97938751, 513.78931697,
       504.90689694, 505.26893002, 513.13805685, 494.68968142,
       498.67148154, 490.02551142, 494.42714358, 484.07953245,
       479.19519641, 501.03334684, 504.04387507, 491.75126554,
       504.77837783, 509.86937328, 513.0245762 , 506.44503388,
       494.28826085, 484.38867859, 497.02194372, 501.52875538,
       490.56940591, 494.77392329, 498.67687579, 495.86169131,
       503.90222381, 488.64243579, 495.47217964, 507.20282323,
       480.8462735 , 503.48862669, 493.80501674, 483.38120866,
       517.39569563, 495.73730642, 504.08624348, 485.20770065,
       491.34774843, 501.29307936, 499.77723381, 490.82328342,
       497.50350408, 508.527963  , 521.17496177, 492.89409413,
       511.81610818, 510.46322208, 509.8617124 , 489.08932887,
       486.42062182, 485.6155839 , 499.92391763, 485.8754698 ,
       501.68168418, 500.96190096, 500.7250429 , 491.77696448,
       497.86872806, 488.80166724, 509.70423155, 488.95826804,
       503.40561774, 493.87764871, 509.03836578, 480.86776188,
       486.01602351, 492.64850638, 503.88925362, 492.72588004,
       500.70566237, 493.91037949, 495.36352468, 511.99959267,
       507.07664217, 506.31571553, 494.22349422, 511.29269815,
       499.32167856, 490.30480532, 487.98200578, 514.39359811,
       493.98799865, 479.75006539, 495.92626732, 501.77685419,
       488.50177739, 500.49262475, 500.4702389 , 490.59237542,
       514.29887349, 503.53213203, 483.11344059, 489.44521674,
       494.88603361, 491.6326962 , 507.99704642, 500.62576769,
       507.26619185, 496.74154733, 493.6334849 , 518.82405267,
       515.40724537, 482.55098204, 482.47444999, 507.00988942,
       506.79934057, 510.87410979, 504.11906126, 512.88526046,
       503.08398842, 494.27220804, 491.17164093, 493.4753842 ,
       498.33452049, 486.78193907, 506.94252473, 512.54332626,
       486.91124784, 507.81075807, 497.29962025, 485.06458779,
       496.97615121, 507.53665542, 495.45361637, 498.82927387,
       500.95485634, 506.44691465, 498.1812413 , 513.55720207,
       497.95049799, 499.12086837, 505.25392408, 504.84687373,
       506.71694973, 487.33219833, 502.198453  , 490.22477362,
       498.90775313, 488.62857337, 488.39728218, 508.44376117,
       503.39150016, 493.95293573, 484.68897338, 489.00426248,
       510.40393825, 508.70639519, 502.28905026, 495.02144262,
       519.76270863, 502.32458025, 485.21017086, 492.17654146,
       497.78986388, 498.3328559 , 509.25139887, 506.11203811,
       489.97319351, 502.37139534, 511.62423341, 505.09809631,
       504.68781482, 500.22410201, 493.81267994, 501.61499249,
       501.2076059 , 499.44036689, 487.33191192, 499.66319591,
       497.56435739, 506.22728611, 500.26184147, 489.57532834,
       479.27987062, 511.31741681, 516.57625886, 504.42064045,
       512.3580931 , 499.6426408 , 507.09701489, 506.84679534,
       485.75871059, 498.63579604, 502.86128917, 485.75461516,
       487.25337799, 500.16977497, 499.82530949, 503.27927325,
       486.81768648, 482.78918129, 506.09708258, 482.14520962,
       507.04633225, 498.77856375, 478.70930821, 512.73550746,
       508.86079748, 507.88593661, 484.74516908, 504.54521113,
       511.25345494, 484.51266839, 504.24515127, 514.29716014,
       501.77655394, 509.60992397, 477.23658774, 513.46068601,
       480.24672467, 504.28193518, 500.80364322, 510.94418494,
       501.72392408, 501.84968849, 490.44630554, 491.25538082,
       512.7383598 , 495.24602822, 505.97231636, 480.36340281,
       493.64302314, 493.81804034, 515.42153635, 518.13624888,
       506.14330131, 479.37185651, 493.4555966 , 506.65375963,
       485.59793241, 514.15311508, 517.39644825, 494.13870447,
       488.37120684, 497.28285221, 507.72500845, 502.17154163,
       487.26969486, 498.79083222, 515.34319032, 486.85490979,
       513.44185083, 490.80515363, 488.57817135, 495.60617661,
       490.0415023 , 506.29881094, 504.61124572, 489.78031457,
       499.11405163, 477.86140144, 476.90772763, 485.6829001 ,
       507.51090547, 501.53154008, 517.26957098, 496.38105912,
       502.53779912, 486.63006293, 507.5423055 , 506.04574324,
       505.20777413, 486.07954579, 488.06060802, 490.69259687,
       511.49242084, 482.80318818, 509.11298892, 501.50967849,
       490.50078297, 492.22398007, 497.86023841, 513.88101239,
       490.97819835, 500.1879752 , 500.83566775, 494.1594381 ,
       493.69816705, 512.98580703, 494.08641636, 509.50793983,
       484.90423178, 501.86986373, 492.32301018, 485.12168676,
       497.61317804, 502.54608083, 485.8129821 , 493.74361228,
       493.64667539, 507.53452463, 499.88392799, 486.2645951 ,
       490.11995901, 508.20300616, 489.45928256, 506.71449056,
       515.27813216, 505.75554016, 493.77225742, 510.01261444,
       485.8378965 , 497.79302644, 516.69072193, 496.251934  ,
       495.56856845, 490.11889977, 509.52964204, 509.58523599,
       484.15415752, 514.74264969, 495.70233542, 481.3719673 ,
       504.79805222, 482.41103328, 489.65142844, 508.150218  ,
       501.23569697, 484.83821867, 491.10103399, 477.5994879 ,
       502.77041321, 501.31561081, 502.35109645, 494.52129159,
       492.25377723, 508.69284405, 517.63154766, 522.11517171,
       491.10444193, 497.28559374, 508.56053761, 494.3252618 ,
       486.49741134, 513.58616255, 483.30146928, 493.09022882,
       506.20007343, 503.8403336 , 507.64000844, 493.30596513,
       521.6419069 , 490.39573157, 484.55371436, 486.7333789 ,
       499.15299081, 492.55273489, 494.5509383 , 506.79098775,
       482.04737431, 516.65468683, 498.37536518, 500.62153438,
       509.33849647, 518.58077557, 485.60728023, 511.75008974,
       476.58209075, 493.81477455, 492.6303462 , 513.68761538,
       496.07617822, 491.71614628, 501.52957311, 491.7709972 ,
       492.13557705, 496.72133524, 498.40655263, 491.15587852,
       490.34924685, 492.31049874, 505.23442928, 479.62520763,
       493.07138193, 506.3869946 , 485.55585728, 504.52316443])